@import "./variable";

h1,
h2,
h3,
p,
li {
  color: var(--black);
}

body {
    background-color: var(--White);
}

img {
  width: 100%;
}

.container {
   max-width: 1340px;
   margin: 0 auto;
   padding: 0 20px;
}


.search_box{
  margin-top: 50px;
  border: 1px solid gray;
  background-color: white;
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  span{
    font-size: 35px;
    position: relative;
    top: 7px;
  }
  input{
    outline: 0;
    font-size: 20px;
    padding: 15px;
    border: 0;
  }
}